@use 'colors';

.bottom_start{
    width: 290px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    z-index: 200;
    position: fixed;

    background-color: colors.$primary_blue;

    &.right{
        bottom: 0;
        right: 0;
        border-top-left-radius: 24px;
    }

    &.left{
        bottom: 0;
        left: 0;
        border-top-right-radius: 24px;
    }

    .options{
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .option_container{
            display: flex;
            align-items: center;
        }
    }

    .option_icon{
        width: 32px;
    }
}