@use 'colors';

.contextMenuHomeV2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .contextMenuV2{
        background-color: white;
        border: solid black 2px;
        position: absolute;
        width: 200px;
        z-index: 20;
        ul{
            padding: 0;
            li{
                list-style: none;
                padding: 4px 8px;
                .option{
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    svg{
                        width: 0.75rem;
                    }
                }

                &:hover{
                    background-color: colors.$primary_blue;
                    color: white;
                    fill: white;
                }
            }
        }
    }
}