.galleryImageContainer{
    border: solid black 3px;
    position: relative;
    cursor: pointer;
    img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        cursor: pointer;
    }
}