.galleryImageContainer{
    border: solid black 3px;
    position: relative;
    cursor: pointer;
    img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        cursor: pointer;
    }
}

.uploadedGalleryItem{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: solid 2px black;
}