$cols: 12;


@mixin grid-cols($screenSize) {
    @for $i from 1 through $cols {
        .col_#{$screenSize}_#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

//Single prop mixin
@mixin singleProp($count, $className, $propName, $size) {
    @for $i from 1 through $count {
        .#{$className}_#{$size}_#{$i*4}{
            #{$propName}: #{$i*0.25rem}
        }
    }
}

//Col spans
@mixin colSpans($count, $size) {
    @for $i from 1 through $count {
        .col_span_#{$size}_#{$i}{
            grid-column: span #{$i}
        }
    }
}

@include singleProp(12, pt, padding-top, def);
@include singleProp(12, mt, margin-top, def);
@include singleProp(12, col_span, grid-column, def);
@include colSpans(12, def);

@include grid-cols(def);

@media (min-width: 599px) {
    @include grid-cols(sm);
}
@media (min-width: 904px) {
    @include grid-cols(md);
}
@media (min-width: 1239px) {
    @include grid-cols(sm);
}

.flex{
    display: flex;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.grid{
    display: grid;
}

.col_s5{
    grid-column: span 5;
}

.col_s2{
    grid-column: span 2;
}

.empty{
    display: flex;
    align-items: center;
    justify-content: center;
}