.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modalBody{
        width: 60%;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: white;
        border: solid black 3px;
        border-radius: 4px;
        padding: 24px;
        position: relative;
        overflow-x: hidden;
        .modalHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 100px;
            }
            .closeModal{
                svg{
                    width: 30px;
                    &:hover{
                        fill: red;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}