@use 'colors';

.paginatorContainer{
    .paginatorPages{
        ul{
            padding: 0;
            display: flex;
            gap: 8px;
            justify-content: center;
            li{
                list-style: none;
                padding: 8px;
                background-color: colors.$primary_blue;
                color: white;
                font-weight: bolder;
                width: 30px;
                text-align: center;
                user-select: none;
                cursor: pointer;
                &:hover{
                    background-color: #5f5f5f;
                }
            }
        }
    }
}