.printContainer{
    display: flex;
    justify-content: center;
    .printPage{
        .ocTable{
            width: 100%;
        }
        width: 950px;
    }
}

.printLogo{
    height: 70px;
}

.space{
    height: 24px;
}

@media print{
    .navigation, .title_route, .bottom_start,  button, .body_background, .smallButton, .leftPanel, .deleteItem {
        display: none !important;
    }
}