@use 'colors';

table,
th,
td {
  border: 1px solid;
}

.tableOverflow {
  overflow-X: scroll;
}

.rqTable {
  border-collapse: collapse;
  width: 100%;
  th {
    border: solid rgb(122, 122, 122) 1px;
    font-weight: 500;
  }

  td {
    border: solid rgb(122, 122, 122) 1px;
  }

  tr {
    text-align: center;
  }

  thead{
    tr{
      th{
        background-color: colors.$primary_blue;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.ocTable {
  border-collapse: collapse;
  border: none;
  .projectName{
    padding: 4px 0;
    color: #004A87;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .primary_background {
    background-color: #004A87;
    color: white;
  }

  td {
    border: none;
  }

  .logoHeadTable {
    .ocTitle {
      font-size: 1.5rem;
      font-weight: bold;
      color: colors.$primary_blue;
    }
    img{
      height: 100px;
    }
  }

  .ocProvider {
    text-transform: uppercase;
  }

  .borderGray {
    border: solid rgb(173, 173, 173) 2px;
  }

  .borderGrayThin {
    border: solid rgb(173, 173, 173) 0.5px;
  }

  .generalInfo {
    border: solid rgb(173, 173, 173) 2px;
  }

  .ocBody {
    tr {
      td {
        border: solid rgb(173, 173, 173) 2px;
      }
    }
  }

  .remisionBody {
    tr {
      td {
        border: solid rgb(173, 173, 173) 0.5px;
      }
    }
  }


  .lastCell {
    display: flex;
    justify-content: space-between;

    .deleteItem {
      padding-right: 8px;

      svg {
        cursor: pointer;
        width: 16px;
        fill: rgb(255, 30, 30);

        &:hover {
          fill: rgb(184, 0, 0);
          ;
        }
      }
    }
  }

  .ocTaker{
    .input_container {
      padding: 0;
      display: block;
    }
    .editable_input {
      border: none;
      font-size: 16px
    }
  }
}

.rqOcTable {
  margin-top: 16px;
  border-collapse: collapse;
  width: 100%;

  .addElement {
    display: flex;
    justify-content: center;
  }

  .elementCell {
    svg {
      cursor: pointer;
      width: 20px;
      fill: white;
      transition: 300ms ease all;

      &:hover {
        transition: 300ms ease all;
        fill: rgb(199, 199, 199);
      }
    }
  }

  thead {
    background-color: white;

    td {
      border: solid black 2px;
      font-weight: bold;
      color: colors.$primary_blue;
    }
  }

  td {
    border: solid black 2px;
    font-size: 0.85rem;
    color: white;
  }

}

.colorWarning {
  animation: colorWarning 1s infinite;
}

.field{
  font-size: 12px;
  border-bottom: solid rgb(173, 173, 173) 0.5px !important;
  font-weight: bold;
  color: #004A87;
}
.borderBottom{
  border-bottom: solid rgb(173, 173, 173) 0.5px !important;
}